{% load thumbnail %}
{% thumbnail object.author.profile.image "65x65" crop="center" as im %}
    <img src="{{ im.url }}" class="rounded-circle article-thumb"/>
{% endthumbnail %}
<!-- <img class="rounded-circle article-thumb" src="{{ object.author.profile.image.url }}" /> -->
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-bounties' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2>
        <a class="article-title" href="{% url 'bounty-detail' object.id %}">{{ object.title }}
                {% if object.is_completed %}
                    (CLOSED)
                {% else %}
                    (OPEN)
                {% endif %}
        </a>
    </h2>
    <div class="row" style="width:100%;">
        <div clas="col-md-8" style="margin-bottom:16px">
            {% for image in object.images_set.all %}
                <!-- {% if image.thumb %}
                    <img class="article-img" src="{{ image.thumb.url }}" />
                {% else %} -->
                    <!-- <img class="article-img" src="{{ image.image.url }}" /> -->
                <!-- {% endif %} -->
                {% load thumbnail %}
                {% thumbnail image.image "128x128" crop="center" as im %}
                    <img src="{{ im.url }}" class="article-img"/>
                {% endthumbnail %}
            {% endfor %}
        </div>
        <div class="col-md-4" style="margin-top:4px;">
            <p class="article-info">Region: {{ object.get_region_display }}</p>
            <p class="article-info">Job Type: {{ object.get_jobtype_display }}</p>
            <p class="article-info">Number of Accepted: {{ object.acceptance_set.all.count }}</p>
            <p class="article-info">Number of Completions: {{ object.completion_set.all.count }}</p>
        </div>
    </div>
</div>