{% load thumbnail %}
{% thumbnail object.author.profile.image "65x65" crop="center" as im %}
    <img src="{{ im.url }}" class="rounded-circle article-thumb"/>
{% endthumbnail %}
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-bounties' object.bounty.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <h3>
        <a class="article-title" href="{% url 'completion-detail' object.id %}">{{ object.title }}</a>
    </h3>
    {% for image in object.images_set.all %}
            {% load thumbnail %}
            {% thumbnail image.image "128x128" crop="center" as im %}
                <img src="{{ im.url }}" class="article-img"/>
            {% endthumbnail %}
    {% endfor %}
    <p class="article-content">{{ object.description }}</p>
    <p class="article-info">{{ object.is_completed }}</p>
</div>