{% load thumbnail %}
{% load thumbnail %}
{% for image in object.author.profile.profileimage_set.all %}
    {% thumbnail image.image "65x65" crop="center" as im %}
        <img src="{{ im.url }}" class="rounded-circle accepted-thumb lazyload"/>
    {% endthumbnail %}
{% endfor %}
<div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-bounties' object.bounty.author.username %}">
            {% if user.profile.discordname %}
                {{ object.author.profile.discordname }}
            {% else %}
                {{ object.author }}
            {% endif %}
        </a>
        <small class="text-muted">{{ object.get_age }}</small>
    </div>
    <h3>
        <a class="article-title" href="{% url 'completion-detail' object.id %}">{{ object.title }}</a>
    </h3>
    <div style="margin-bottom: 16px;">
        {% for image in object.images_set.all %}
                {% load thumbnail %}
                {% thumbnail image.image "128x128" crop="center" as im %}
                    <img src="{{ im.url }}" class="article-img lazyload"/>
                {% endthumbnail %}
        {% endfor %}
    </div>
    <p class="article-content">{{ object.description }}</p>
    <p class="article-info">{{ object.is_completed }}</p>
</div>