{% extends "bounty/base.html" %}
{% block content %}
    <h1 class="snow">About</h1>
    <p class="snow">
        Are you a solo player tired of endless bridge battles? Maybe you're a lone partisan willing to share some juicy intel gathered behind enemy lines.
        Or a clan man who needs fresh bodies for the front. Or a builder, exasperated by the holes in your defenses. Whatever the case, Foxhole Bounties is
        your one-stop for coordination!
    </p>
    <p>
        Post your Bounty with details, and hopefully get paired with someone willing to lend their time and energy to the cause!  
    </p>
    <p>
        Join the fight today!  
    </p>
    <p></p>

    <div style="margin-top: 45px;">
        <h3 class="snow">How do I get started?</h3>
        <p>
            1. Create an account.
        </p>
        <p>
            2. Click on your username in the top-right. This will take you to your profile.
        </p>
        <p>
            3. Select your team affiliation and hit "save" (Don't try spying on the enemy team, it wont work)
        </p>   
        <p>
            4. Authenticate with Discord (you can only link one Discord account, this is non-reversible)
        </p> 
        <p>
            5. Make sure you are verified on SIGIL if you are a Colonial (WARDEN support in development)
        </p>    
        <p>
            5. Click the VERIFY button on your profile. If you are verified on SIGIL, this will verify your account.
        </p>
        <p>
            Your verification status resets at the start of every war, so make sure 
            to re-verify at the start of a new war!
        </p>
    </div>
    <div style="margin-top: 45px;">
        <h3 class="snow">Best Practices</h3>
        <h4 class="snow" >Take lots of screenshots</h4>
        <p>
            Have Discord messages enabled! This will allow you to reach out to users who accept your bounties,
            making it easier to coordinate further.
        </p>
        <p>
            Post multiple pictures of the objective if you can. The more intel you can provide for
            the accepting party, the better! Map screenshots and in-game images are great.
        </p>
        <h4 class="snow" >Use Grid Coordinates</h4>
        <p>
            Posting in-game grid coordinates will add a Foxhole map display to your post with the objective marked.
            You can use the in-game map to find the grid coordinates. A guide exists 
            <a href="https://foxhole.fandom.com/wiki/Community_Guides/Map_Guide">here</a>.
        </p>
        <h4 class="snow" >Be Specific</h4>
        <p>
            The Bounty form requires you to select the Bounty Type and Hex of operation.
            In addition to this, you can post a description of your bounty. The character limit is 2048,
            so feel free to be as detailed as you want. Write the fanfic milsim operations manual you've always wanted.
        </p>
        <p>
            Don't accept multiple jobs at the same time. Accept a job only when you are sure you have the time to
            do it.
        </p>
        <p>
            Post completions! When you finish a Bounty, submit a completion! It will give you street cred. 
        </p>
    </div>
{% endblock content %}