{% extends "bounty/base.html" %}
{% block content %}
    <h1 class="snow">About</h1>
    <p class="snow">
        Are you a solo player tired of endless bridge battles? Maybe you're a lone partisan willing to share some juicy intel gathered behind enemy lines.
        Or a clan man who needs fresh bodies for the front. Or a builder, exasperated by the holes in your defenses. Whatever the case, Foxhole Bounties is
        your one-stop for coordination!
    </p>
    <p>
        Post your Bounty with details, and hopefully get paired with someone willing to lend their time and energy to the cause!  
    </p>
    <p>
        Join the fight today!  
    </p>
{% endblock content %}