{% extends "bounty/base.html" %}
{% block content %}
    <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'bounty-home' %}">Back</a>
    <article class="media content-section">
        <img class="rounded-circle article-thumb" src="{{ object.author.profile.image.url }}" />
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-bounties' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
                <div>
                    {% if object.is_completed != True %}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bounty-update' object.id %}">Update</a>
                    {% endif %}
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bounty-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title" >{{ object.title }}
                {% if bounty.is_completed %}
                    (CLOSED)
                {% else %}
                    (OPEN)
                {% endif %}
        </h2>
        {% for image in object.images_set.all %}
            <img class="detail-img" src="{{ image.image.url }}" />
        {% endfor %}
        <p class="article-content">{{ object.description }}</p>
        <!-- <h3 class="article-metadata">{{ object.price }}</h3> -->

        {% if object.author != user and object.is_completed == False %}
            <a class="btn btn-secondary" href="{% url 'completion-create' bounty=object.id %}">Submit Completion</a>
        {% endif %}
        
        <h2>Completions:</h2>
        {% for object in completions %}
        <article class="media content-section">
            {% include 'bounty/components/completion_item.html' %}
        </article>
        {% endfor %}
        </div>
    </article>
{% endblock content %}
