{% extends "bounty/base.html" %}
{% block content %}
    <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'bounty-home' %}">Back</a>
    <article class="media content-section">
        <img class="rounded-circle article-thumb" src="{{ object.author.profile.image.url }}" />
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-bounties' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
                <div>
                    {% if object.is_completed != True %}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bounty-update' object.id %}">Update</a>
                    {% endif %}
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bounty-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title" >{{ object.title }}
                {% if bounty.is_completed %}
                    (CLOSED)
                {% else %}
                    (OPEN)
                {% endif %}
        </h2>
        <div class="image-grid">
            {% for image in object.images_set.all %}
                <div class="mySlides">
                    <img class="detail-img" src="{{ image.image.url }}"/>
                </div>
            {% endfor %}

            <button class="btn btn-info" onclick="plusDivs(-1)">&#10094;</button>
            <button class="btn btn-info" onclick="plusDivs(1)">&#10095;</button>
        </div>

        <p></p>

        <p class="article-content">{{ object.description }}</p>

        <!-- Draw map if coordinates exist-->
        {% if object.coordinates %}

            <!-- LEAFLET MAP HERE -->
            <div id="map" class="leaflet-map leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"></div>
            {% load static %}
            <script src="{% static 'js/leaflet_script.js' %}"></script>

            <!-- CONTROLS THE MARKER AND MAP LOCATION -->
            <input type="hidden" id="coordinate" name="variable" value="{{ object.get_coordinates }}">
            <script type="text/javascript">
                var coordinate = JSON.parse(document.getElementById("coordinate").value);
                var marker = L.marker([coordinate[0],coordinate[1]]).addTo(map);
            </script>
            
        {% endif %}

        <!-- List of players who have accepted -->
        <div class="completions-list">
            <h2 class="snow">
                Accepted:
                
                {% if object.author != user and object.is_completed == False %}
                    <a class="btn btn-secondary" style="margin-left:68%;;" href="{% url 'bounty-accept' object.id %}">Accept Bounty</a>
                {% endif %}
            </h2>
            {% for accepted in object.acceptance_set.all %}
                <h4>
                    <img class="rounded-circle accepted-thumb" src="{{ accepted.user.profile.image.url }}" />
                    <a href="{% url 'user-bounties' accepted.user.username %}">{{ accepted.user.username }}</a>
                </h4>
            {% endfor %}
        </div>

        <!-- List of Completions -->
        <div class="completions-list">
            <h2 class="snow">
                Completions:
                {% if object.author != user and object.is_completed == False %}
                    <a class="btn btn-secondary" style="margin-left:60%;" href="{% url 'completion-create' bounty=object.id %}">Submit Completion</a>
                {% endif %}
            </h2>
            {% for object in completions %}
            <article class="media content-section">
                {% include 'bounty/components/completion_item.html' %}
            </article>
            {% endfor %}
            </div>
        </div>

        <!-- Slideshow script -->
        <script>
            var slideIndex = 1;
            showDivs(slideIndex);
            
            function plusDivs(n) {
              showDivs(slideIndex += n);
            }
            
            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";  
              }
              x[slideIndex-1].style.display = "block";  
            }
        </script>

    </article>
{% endblock content %}
