{% extends "bounty/base.html" %}
{% block content %}
    <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'bounty-home' %}">Back</a>
    <article class="media content-section">
        {% load thumbnail %}
        {% for image in object.author.profile.profileimage_set.all %}
            {% thumbnail image.image "65x65" crop="center" as im %}
                <img src="{{ im.url }}" class="rounded-circle article-thumb lazyload"/>
            {% endthumbnail %}
        {% endfor %}
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-bounties' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
                <div>
                    {% if object.is_completed != True %}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bounty-update' object.id %}">Update</a>
                    {% endif %}
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bounty-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title" >{{ object.title }}
                {% if bounty.is_completed %}
                    (CLOSED)
                {% else %}
                    (OPEN)
                {% endif %}
        </h2>
        {% if object.images_set.count > 0 %}
            <div class="image-grid">
                {% for image in object.images_set.all %}
                    <div class="mySlides">
                        <img class="detail-img lazyload" src="{{ image.image.url }}"/>
                    </div>
                {% endfor %}

                <button class="btn btn-info" onclick="plusDivs(-1)">&#10094;</button>
                <button class="btn btn-info" onclick="plusDivs(1)">&#10095;</button>
            </div>
        {% endif %}

        <p></p>

        <p class="article-content">{{ object.description }}</p>

        <!-- Draw map if coordinates exist-->
        {% if object.coordinates %}
            <!-- LEAFLET MAP HERE -->
            <div id="map" class="leaflet-map leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" style="margin-top:24px;margin-bottom: 24px;"></div>
        {% endif %}

        <b>
            <p class="article-info">Region: {{ object.get_region_display }}</p>
            <p class="article-info">Job Type: {{ object.get_jobtype_display }}</p>
        </b>

        <!-- List of players who have accepted -->
        <div class="completions-list">
            <h2 class="snow">
                Accepted:
                
                {% if object.author != user and object.is_completed == False %}
                    <a class="btn btn-secondary" style="margin-left:68%;;" href="{% url 'bounty-accept' object.id %}">Accept Bounty</a>
                {% endif %}
            </h2>
            {% for accepted in object.acceptance_set.all %}
                <h4>
                    {% load thumbnail %}
                    {% for image in accepted.user.profile.profileimage_set.all %}
                        {% thumbnail image.image "65x65" crop="center" as im %}
                            <img src="{{ im.url }}" class="rounded-circle accepted-thumb lazyload"/>
                        {% endthumbnail %}
                    {% endfor %}
                    <a href="{% url 'user-bounties' accepted.user.username %}">{{ accepted.user.username }}</a>
                </h4>
            {% endfor %}
        </div>

        <!-- List of Completions -->
        <div class="completions-list">
            <h2 class="snow">
                Completions:
                {% if object.author != user and object.is_completed == False %}
                    <a class="btn btn-secondary" style="margin-left:60%;" href="{% url 'completion-create' bounty=object.id %}">Submit Completion</a>
                {% endif %}
            </h2>
            {% for object in completions %}
            <article class="media content-section">
                {% include 'bounty/components/completion_item.html' %}
            </article>
            {% endfor %}
            </div>
        </div>

        <!-- SLIDESHOW SCRIPT -->
        <script>
            var slideIndex = 1;
            showDivs(slideIndex);
            
            function plusDivs(n) {
              showDivs(slideIndex += n);
            }
            
            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";  
              }
              x[slideIndex-1].style.display = "block";  
            }
        </script>

        <!-- LEAFLET SCRIPT -->

        {% load static %}
        <script src="{% static 'js/leaflet_script.js' %}"></script>

        <!-- CONTROLS THE MARKER AND MAP LOCATION -->
        <input type="hidden" id="coordinate" name="variable" value="{{ object.get_coordinates }}">
        <input type="hidden" id="towns" name="variable" value="{{ object.get_names }}">
        <script type="text/javascript">

            var coordinate = JSON.parse(document.getElementById("coordinate").value); // Coordinate for marker
            var towns = JSON.parse(document.getElementById("towns").value); // coordaintes for all towns
            var marker = L.marker(coordinate).addTo(map);

            let height = bounds[1][0]-bounds[0][0];
            let width = bounds[1][1]-bounds[0][1];
            let w = width/5.5
            let k = w*Math.sqrt(3)/2

            Object.keys(towns).map((key) => {
                L.marker(towns[key], {
                    icon: L.divIcon({
                        iconAnchor: [48,16],
                        className: 'map-labels',   // Set class for CSS styling
                        html: key
                    }),
                    zIndexOffset: 1000
                }).addTo(map);

                let item = towns[key]
                L.polygon([
                    [item[0],item[1]-w/2],
                    [item[0]+k/2,item[1]-w/4],
                    [item[0]+k/2,item[1]+w/4],
                    [item[0],item[1]+w/2],
                    [item[0]-k/2,item[1]+w/4],
                    [item[0]-k/2,item[1]-w/4],
                ],{
                    color: 'grey',
                    opacity: 0.3,
                    fillColor: 'blue',
                    fillOpacity: 0,
                }).addTo(map);
            })

            map.setView(coordinate,4);
        </script>

    </article>
{% endblock content %}
