{% extends "bounty/base.html" %}
{% block content %}
    <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'bounty-detail' object.bounty.id %}">Back</a>
    <article class="media content-section">
        <img class="rounded-circle article-thumb" src="{{ object.author.profile.image.url }}" />
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-bounties' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'completion-delete' object.id %}">Delete</a>
                </div>
            {% elif object.bounty.author == user %}
                {% if object.is_completed == "PENDING" %}
                    <div>
                        <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'completion-accept' object.id 'ACCEPTED' %}">Accept</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'completion-accept' object.id 'REJECTED' %}">Reject</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <h2 class="article-title" >{{ object.title }}</h2>
        <p class="article-title" >{{ object.latitude }}° N {{ object.longitude }}° E</p>
        <p class="article-content">{{ object.description }}</p>
        {% for image in object.images_set.all %}
            <img class="detail-img" src="{{ image.image.url }}" />
        {% endfor %}

        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d528.0078727268688!2d{{object.longitude}}!3d{{object.latitude}}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1656880270930!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
            </div>
        </div>

        <h3 class="article-metadata">{{ object.is_completed }}</h3>
        {% if object.is_completed == "REJECTED" %}
            <p>Reason: {{ object.rejection_reason }}</p>
        {% endif %}
        </div>
    </article>
{% endblock content %}
