{% extends "bounty/base.html" %}
{% block content %}
    <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'bounty-detail' object.bounty.id %}">Back</a>
    <article class="media content-section">
        {% load thumbnail %}
        {% for image in object.author.profile.profileimage_set.all %}
            {% thumbnail image.image "65x65" crop="center" as im %}
                <img src="{{ im.url }}" class="rounded-circle article-thumb lazyload"/>
            {% endthumbnail %}
        {% endfor %}
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-bounties' object.author.username %}">
            {% if user.profile.discordname %}
                {{ object.author.profile.discordname }}
            {% else %}
                {{ object.author }}
            {% endif %}</a>
            <small class="text-muted">{{ object.date_posted|date:'Y-m-d H:i' }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'completion-delete' object.id %}">Delete</a>
                </div>
            {% elif object.bounty.author == user %}
                {% if object.is_completed == "PENDING" %}
                    <div>
                        <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'completion-accept' object.id 'ACCEPTED' %}">Accept</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'completion-accept' object.id 'REJECTED' %}">Reject</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        {% if object.images_set.count > 0 %}
            <div class="image-grid">
                {% for image in object.images_set.all %}
                    <div class="mySlides">
                        <img class="detail-img lazyload" src="{{ image.image.url }}"/>
                    </div>
                {% endfor %}

                <button class="btn btn-info gallery-button-prev" onclick="plusDivs(-1)">&#10094;</button>
                <button class="btn btn-info gallery-button-next" onclick="plusDivs(1)">&#10095;</button>
            </div>
        {% endif %}

        <p></p>

        <h2 class="article-title" >{{ object.title }}</h2>
        <p class="article-content">{{ object.description }}</p>

        <h3 style="color: gray;">{{ object.is_completed }}</h3>
        {% if object.is_completed == "REJECTED" %}
            <p>Reason: {{ object.rejection_reason }}</p>
        {% endif %}
        </div>

        <script>
            var slideIndex = 1;
            showDivs(slideIndex);
            
            function plusDivs(n) {
              showDivs(slideIndex += n);
            }
            
            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";  
              }
              x[slideIndex-1].style.display = "block";  
            }
        </script>
        
    </article>
{% endblock content %}
