{% extends "bounty/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" />
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-bounties' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'completion-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title" >{{ object.title }}</h2>
        <p class="article-content">{{ object.description }}</p>
        <img class="rounded-circle account-img" src="{{ object.image.url }}">
        <h3 class="article-metadata">{{ object.status }}</h3>
        </div>
    </article>
{% endblock content %}
