{% extends "bounty/base.html" %}
{% block content %}
    <a class="btn btn-outline-info mb-4" href="{% url 'bounty-home' 'open' %}">Open Bounties</a>
    <a class="btn btn-outline-info mb-4" href="{% url 'bounty-home' 'closed' %}">Closed Bounties</a>
    {% for object in bounties %}
        <article class="media content-section">
            {% include 'bounty/components/bounty_item.html' %}
        </article>
    {% endfor %}
    {% include 'bounty/components/page_nav.html' %}
{% endblock content %}
