{% extends "bounty/base.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for object in bounties %}
        <article class="media content-section">
            {% if object.bounty %} <!-- Render Completion-->
                {% include 'bounty/components/completion_item.html' %}
            {% else %} <!-- Render Bounty-->
                {% include 'bounty/components/bounty_item.html' %}
            {% endif %}
        </article>
    {% endfor %}
    {% include 'bounty/components/page_nav.html' %}
{% endblock content %}
